$primary-color: #9c27b0;
$secondary-color: #313131;
$text-color: #ffffff;
$dark-bg: #171717;
$light-grey-bg: #5e5e5e;
$header-height: 63px;
$font-family-default: sans-serif;

$breakpoint-tablet: 768px; 